.myTBckg{
    background-image: url('/src/assets/chalkboard.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    padding: 35px;
    color: white;
    
}